{% extends "layout.html.twig" %}

{% block content %}
<div id="list-by-options" style="margin-bottom: 12px;">
List Submissions By:&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/">All</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  Just Links (current)</a>&nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/list/texts">Just Texts</a>
</div>
<div class="list-group">
{% for post in posts %}
  {% if post.url is defined %}
    <a href="{{ post.url }}" class="list-group-item">
    <strong class="list-group-item-heading">{{ post.title }}</strong><br>
    <small class="list-group-item-text">Submitted {{ post.created | time_diff | default('now') }} by {{ post.firstName }} {{ post.lastName }}</small>
  {% endif %}
    </a>
{% endfor %}
</div>
{% endblock content %}
